.border-button {
    font-family: $font-stack;
    box-shadow: 0px 0px 0px 5px white;
    transition: box-shadow 0.1s linear;
    margin: 0.5em;
    padding: 5px;
    background: transparent;
    color: white;
    /* Increased margin since the box-shado expands outside the element, like outline */
    &:hover {
        box-shadow: 0px 0px 0px 10px white;
    }
}